---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.footer-heading  {
	display: none;
	visibility: hidden;
}


.site-footer {
	padding: 15px;
}

.resume-header {
	color: #77BFC7;
}

.about-img {

display: flex;

align-items: center;

justify-content: center;

padding: 5%;

}

.about-text {

padding-left: 1px;

}




/* (A) TIMELINE CONTAINER */
.vtl {
  /* (A1) RELATIVE POSITION REQUIRED TO PROPERLY POSITION THE TIMELINE */
  position: relative;
 
  /* (A2) RESERVE MORE SPACE TO THE LEFT FOR THE TIMELINE */
  padding: 10px 10px 10px 50px;
 
  /* (A3) OPTIONAL WIDTH RESTRICTION */
  max-width: 800px;
}
.vtl, .vtl * { box-sizing: border-box; }

/* (B) DRAW VERTICAL LINE USING ::BEFORE */
.vtl::before {
  /* (B1) VERTICAL LINE */
  content: "";
  width: 5px;
  background-color: #77BFC7;
 
  /* (B2) POSITION TO THE LEFT */
  position: absolute;
  top: 0; bottom: 0; left: 15px;
}

/* (C) COSMETICS FOR EVENTS */
div.event {
  padding: 20px 30px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* (E) EVENT "SPEECH BUBBLE CALLOUT" */
div.event::before {
  /* (E1) "MAGIC TRIANGLE" */
  content: "";
  border: 10px solid transparent;
  border-right-color: #eeeeee;
  border-left: 0;
 
   /* (E2) POSITION TO THE LEFT */
  position: absolute;
  top: 20%; left: -10px;
}

/* (F) CIRCLE ON TIMELINE */
div.event::after {
  /* (F1) "MAGIC CIRCLE" */
  content: "";
  background: #fff;
  border: 4px solid #77BFC7;
  width: 16px; height: 16px;
  border-radius: 50%;
 
  /* (F2) POSITION TO THE LEFT */
  position: absolute;
  top: 20%; left: -44px;
}

