---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-heading  {
	display: none;
	visibility: hidden;
}

.site-footer {
	padding: 15px;
}
